* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#f00, #f0f);
  font-family: "Noto Sans", sans-serif;
}

h3 {
  padding: 20px 0 8px 0;
  font-weight: 300;
}

h3,
h5 {
  color: #fffc;
}

.profile-foto-container img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  object-fit: cover;
}

li {
  list-style: none;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff05;
  margin-right: 40px;
  border-radius: 8px;
  box-shadow: 0 15px 35px rgb(0 0 0 / 42%);
  transition: all 0.5s;
  margin: 30px;
}

.member:hover {
  transform: translateY(-40px);
}

.social {
  padding-top: 20px;
}

.fa-brands,
.fab {
  font-size: 28px;
  color: #fff;
}
