* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  padding-top: 20px;
}

.profile-foto-container img {
  width: 156px;
  height: 156px;
  border-radius: 50%;
  object-fit: cover;
}

li {
  list-style: none;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.member {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  margin-right: 40px;
  border-radius: 8px;
}

.social {
  padding-top: 20px;
}

.fa-brands,
.fab {
  font-size: 28px;
}
